/* nejsme vcerejsi, pouzivame moderni box model

fonts: 
font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    width: 100vw;
}

.container {
    padding: 30px 100px 20px 100px;
    text-align: center;
}

/*navidace*/

nav {
    background-color: transparent;
    display: flex;
    height: 50px;
    padding: 0 35px 0 25px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

h3 {
    left: 20px;
    margin: 0;
    padding: 15px;
    position: absolute;

}

#header ul {
    position: absolute;
    right: 35px;
}

#header li {
    display: inline-block;
}

#header li a:hover {
    background-color: antiquewhite;
    border-radius: 25px;
    cursor: pointer;
}

#header li a {
    color: rgb(58, 46, 53);
    padding: 10px 20px;
    text-decoration: none;
}

/*header, první kontainer, úvodní stránka*/
#header {
    background-color: rgb(195, 144, 193);
    background-image: url("kvetiny_uvodni_foto.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    width: 100vw;
    position: relative;
}

h1 {
    color: antiquewhite;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 7rem;
    margin: 0;
    padding: 100px 0 0 0;

}

h2 {
    color: rgb(58, 46, 53);
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: 400;

}

/*About me container*/

#aboutMe {
    display: flex;
    height: 600px;
    justify-content: end;
    padding: 30px 100px 20px 100px;
    position: relative;
}

.profileText {
    padding: 0 30px;
    width: 60%;
}

.profilePic img {
    height: 600px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 500px;
}

.profileFirsLine {
    font-size: 1.5rem;
    font-weight: 800;
}

.profileSecondLine {
    font-weight: 700;
    line-height: 1;
}

/*sluzby container*/
#sluzby {
    align-items: center;
    background-color: rgb(230, 244, 209);
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
    position: relative;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 40px auto 15px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    height: 50px;
    margin: 0;
}

.sluzby {
    display: flex;
}

.sluzba {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.468);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px 3px;
    padding: 8px;
    width: 25%;
}

.sluzba img {
    width: 50px;
    height: 50px;
}

/*kytička*/
.daisy {
    height: 62px;
    position: absolute;
    top: 669px;
}

/*certifikace container*/
#certifikace {
    background-color: rgb(251, 235, 239);
    height: 600px;
}

/*Kontraindikace*/
#kontraindikace {
    background-color: rgb(204, 245, 213);
    background-image: url("kontraindikace_pic.jpg");
    background-size: cover;
    height: 550px;
}

.kontraindikaceUpozorneni {
    display: flex;
    height: 350px;
    justify-content: center;
}

.kdyNe {
    background-color: rgba(251, 235, 239, 0.729);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    margin: 3px;
    width: 40%;
}

#kontraindikace h5 {
    height: 25%;
    margin: 15px 45px 5px 25px;
}

#kontraindikace li {
    text-align: start;
}

#kontraindikace ul {
    margin: 15px;
}

#kontraindikace a {
    background-color: antiquewhite;
    border-radius: 25px;
    color: rgb(58, 46, 53);
    cursor: pointer;
    padding: 10px 25px;
    position: relative;
    text-decoration: underline;
    top: 15px;
}

/*cenik*/

#cenik {
    background-color: rgb(230, 244, 209);
    height: 300px;
}